<%- include('./partials/layout-start.ejs', {title: 'Создание новой книги'}) %> <%- include('./partials/menu.ejs') %>

<h1 class="mb-3">Новая книга</h1>

<div class="card">
  <div class="card-body">
    <%- include('./partials/formNewBook.ejs') %> 
  </div>
  </div>
</div>

<%- include('./partials/layout-end.ejs') %>
